<h1>Hello! My name is <%=@name%> and my favorite food is <%=@fav_food%>.</h1>
<h1>My favorite song is <%=@song%> by <%=@band%>.</h1>
<h1>My favorite color is <%=@color%>.</h1>
<h1>My birthday is <%=@birthday%>.</h1>